table {
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
}

td {
  border: 1px black solid;
  padding: 5px;
}

body{
    padding-left: 50px;
}

select {
    height:30px;
    line-height:30px;
    background:#f4f4f4;
}

#datablock{
    padding-top: 50px;
}

#img{
	margin-left: 40%;
	margin-right: 50%;
    margin-top: 20%;
	display: block;
    position:absolute
}